In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pls

# Loading and displaying US cities data

In [6]:
cities = pd.read_csv('../data/maps/uscities.csv', header=0)
print(cities)
print(type(cities))

              city   city_ascii state_id  state_name  county_fips
0         New York     New York       NY    New York        36061  \
1      Los Angeles  Los Angeles       CA  California         6037
2          Chicago      Chicago       IL    Illinois        17031
3            Miami        Miami       FL     Florida        12086
4           Dallas       Dallas       TX       Texas        48113
...            ...          ...      ...         ...          ...
28333        Gross        Gross       NE    Nebraska        31015
28334       Lotsee       Lotsee       OK    Oklahoma        40143
28335    The Ranch    The Ranch       MN   Minnesota        27087
28336     Shamrock     Shamrock       OK    Oklahoma        40037
28337       Monowi       Monowi       NE    Nebraska        31015

       county_name      lat       lng  population  density   source  military
0         New York  40.6943  -73.9249    18713220    10715  polygon     False  \
1      Los Angeles  34.1139 -118.4068    12750807     3276  polygon     False
2             Cook  41.8373  -87.6862     8604203     4574  polygon     False
3       Miami-Dade  25.7839  -80.2102     6445545     5019  polygon     False
4           Dallas  32.7936  -96.7662     5743938     1526  polygon     False
...            ...      ...       ...         ...      ...      ...       ...
28333         Boyd  42.9461  -98.5697           2        6  polygon     False
28334        Tulsa  36.1334  -96.2091           2       39  polygon     False
28335     Mahnomen  47.3198  -95.6952           2        2  polygon     False
28336        Creek  35.9113  -96.5772           2        2  polygon     False
28337         Boyd  42.8307  -98.3296           1        1  polygon     False

       incorporated             timezone  ranking
0              True     America/New_York        1  \
1              True  America/Los_Angeles        1
2              True      America/Chicago        1
3              True     America/New_York        1
4              True      America/Chicago        1
...             ...                  ...      ...
28333          True      America/Chicago        3
28334          True      America/Chicago        3
28335          True      America/Chicago        3
28336          True      America/Chicago        3
28337          True      America/Chicago        3

                                                    zips          id
0      11229 11226 11225 11224 11222 11221 11220 1138...  1840034016
1      90291 90293 90292 91316 91311 90037 90031 9000...  1840020491
2      60018 60649 60641 60640 60643 60642 60645 6064...  1840000494
3      33129 33125 33126 33127 33128 33149 33144 3314...  1840015149
4      75287 75098 75233 75254 75251 75252 75253 7503...  1840019440
...                                                  ...         ...
28333                                              68719  1840011032
28334                                              74063  1840021674
28335                                              56557  1840039629
28336                                              74068  1840022701
28337                                              68746  1840011034

[28338 rows x 17 columns]
<class 'pandas.core.frame.DataFrame'>

In [7]:
biggest_cities = cities.sort_values(by=['population'], ascending=False).head(20)
print("Twenty biggest cities:")
print(biggest_cities)
cities = biggest_cities

Twenty biggest cities:
             city     city_ascii state_id            state_name  county_fips
0        New York       New York       NY              New York        36061  \
1     Los Angeles    Los Angeles       CA            California         6037
2         Chicago        Chicago       IL              Illinois        17031
3           Miami          Miami       FL               Florida        12086
4          Dallas         Dallas       TX                 Texas        48113
5    Philadelphia   Philadelphia       PA          Pennsylvania        42101
6         Houston        Houston       TX                 Texas        48201
7         Atlanta        Atlanta       GA               Georgia        13121
8      Washington     Washington       DC  District of Columbia        11001
9          Boston         Boston       MA         Massachusetts        25025
10        Phoenix        Phoenix       AZ               Arizona         4013
11        Seattle        Seattle       WA            Washington        53033
12  San Francisco  San Francisco       CA            California         6075
13        Detroit        Detroit       MI              Michigan        26163
14      San Diego      San Diego       CA            California         6073
15    Minneapolis    Minneapolis       MN             Minnesota        27053
16          Tampa          Tampa       FL               Florida        12057
17         Denver         Denver       CO              Colorado         8031
18       Brooklyn       Brooklyn       NY              New York        36047
19         Queens         Queens       NY              New York        36081

             county_name      lat       lng  population  density   source
0               New York  40.6943  -73.9249    18713220    10715  polygon  \
1            Los Angeles  34.1139 -118.4068    12750807     3276  polygon
2                   Cook  41.8373  -87.6862     8604203     4574  polygon
3             Miami-Dade  25.7839  -80.2102     6445545     5019  polygon
4                 Dallas  32.7936  -96.7662     5743938     1526  polygon
5           Philadelphia  40.0077  -75.1339     5649300     4554  polygon
6                 Harris  29.7863  -95.3889     5464251     1399  polygon
7                 Fulton  33.7627  -84.4224     5449398     1441  polygon
8   District of Columbia  38.9047  -77.0163     5379184     4457  polygon
9                Suffolk  42.3188  -71.0846     4688346     5532  polygon
10              Maricopa  33.5722 -112.0891     4219697     1253  polygon
11                  King  47.6211 -122.3244     3789215     3469  polygon
12         San Francisco  37.7562 -122.4430     3592294     7256  polygon
13                 Wayne  42.3834  -83.1024     3506126     1864  polygon
14             San Diego  32.8312 -117.1225     3220118     1686  polygon
15              Hennepin  44.9635  -93.2678     2977172     3071  polygon
16          Hillsborough  27.9942  -82.4451     2908063     1353  polygon
17                Denver  39.7621 -104.8759     2876625     1831  polygon
18                 Kings  40.6501  -73.9496     2559903    14221  polygon
19                Queens  40.7498  -73.7976     2230722     7885  polygon

    military  incorporated             timezone  ranking
0      False          True     America/New_York        1  \
1      False          True  America/Los_Angeles        1
2      False          True      America/Chicago        1
3      False          True     America/New_York        1
4      False          True      America/Chicago        1
5      False          True     America/New_York        1
6      False          True      America/Chicago        1
7      False          True     America/New_York        1
8      False          True     America/New_York        1
9      False          True     America/New_York        1
10     False          True      America/Phoenix        1
11     False          True  America/Los_Angeles        1
12     False          True  America/Los_Angeles        1
13     False          True      America/Detroit        1
14     False          True  America/Los_Angeles        1
15     False          True      America/Chicago        1
16     False          True     America/New_York        1
17     False          True       America/Denver        1
18     False          True     America/New_York        1
19     False          True     America/New_York        1

                                                 zips          id
0   11229 11226 11225 11224 11222 11221 11220 1138...  1840034016
1   90291 90293 90292 91316 91311 90037 90031 9000...  1840020491
2   60018 60649 60641 60640 60643 60642 60645 6064...  1840000494
3   33129 33125 33126 33127 33128 33149 33144 3314...  1840015149
4   75287 75098 75233 75254 75251 75252 75253 7503...  1840019440
5   19154 19151 19150 19153 19152 19102 19103 1910...  1840000673
6   77069 77068 77061 77060 77063 77062 77065 7706...  1840020925
7   30334 30331 30332 30309 30308 30305 30307 3030...  1840013660
8   20010 20011 20012 20015 20228 20520 20307 2041...  1840006060
9   02120 02121 02122 02124 02125 02126 02127 0212...  1840000455
10  85008 85009 85006 85007 85004 85083 85086 8508...  1840020568
11  98109 98108 98104 98107 98106 98101 98103 9810...  1840021117
12  94130 94131 94132 94133 94134 94109 94108 9410...  1840021543
13  48209 48208 48201 48207 48205 48204 48203 4820...  1840003971
14  92109 92108 92103 92111 92154 92110 92115 9214...  1840021990
15  55403 55409 55408 55407 55406 55405 55404 5540...  1840007830
16  33637 33629 33621 33620 33619 33616 33613 3361...  1840015982
17  80264 80230 80231 80236 80237 80235 80238 8023...  1840018789
18  11212 11213 11216 11233 11238 11209 11214 1122...  1840034030
19  11361 11362 11363 11364 11354 11355 11356 1135...  1840034002

# Loading and displaying Pollution data

In [9]:
import requests
import json

In [10]:
def get_air_pollution_history(lat, lon, start, end, api_key):
    api_url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}"
    response = requests.get(api_url)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print("Error:", response.status_code)
        return None

Get air pollution history for a single city.

In [12]:
start_time = 1652299344 # May 11, 2022 8:02:24 PM
end_time = 1683835344 # May 11, 2023 8:02:24 PM
api_key = '562335aff7efe8e20cf106efddd7abf6'


new_york = cities[cities['city'] == 'New York']

print(new_york)

new_york_data = get_air_pollution_history(new_york.lat.values[0], new_york.lng.values[0], start_time, end_time, api_key)

       city city_ascii state_id state_name  county_fips county_name      lat
0  New York   New York       NY   New York        36061    New York  40.6943  \

       lng  population  density   source  military  incorporated
0 -73.9249    18713220    10715  polygon     False          True  \

           timezone  ranking
0  America/New_York        1  \

                                                zips          id
0  11229 11226 11225 11224 11222 11221 11220 1138...  1840034016

In [13]:
print(new_york_data)

{'coord': {'lon': -73.9249, 'lat': 40.6943}, 'list': [{'main': {'aqi': 1}, 'components': {'co': 427.25, 'no': 21.23, 'no2': 32.56, 'o3': 28.25, 'so2': 9.3, 'pm2_5': 5.07, 'pm10': 8.92, 'nh3': 3.26}, 'dt': 1684153890}]}

In [14]:
def merge_json(data):
    result = list()
    result.extend(json.load(data))

In [15]:
print(cities.shape)

(20, 17)

In [16]:
pollution_list = []
for index, row in cities.iterrows():
    # print(row.lat)
    data = get_air_pollution_history(row.lat, row.lng, start_time, end_time, api_key)
    # print(data)
    pollution_list.append(data)

In [11]:
# print(pollution_list)
# print()

In [18]:
file_path = '../data/pollution/pollution_data_simple.json'
with open(file_path, "w") as json_file:
    json.dump(pollution_list, json_file)