In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pls
import config

# Loading and displaying US cities data

In [46]:
cities = pd.read_csv('../data/maps/uscities.csv', header=0)
print(cities)
print(type(cities))

              city   city_ascii state_id  state_name  county_fips
0         New York     New York       NY    New York        36061  \
1      Los Angeles  Los Angeles       CA  California         6037
2          Chicago      Chicago       IL    Illinois        17031
3            Miami        Miami       FL     Florida        12086
4           Dallas       Dallas       TX       Texas        48113
...            ...          ...      ...         ...          ...
28333        Gross        Gross       NE    Nebraska        31015
28334       Lotsee       Lotsee       OK    Oklahoma        40143
28335    The Ranch    The Ranch       MN   Minnesota        27087
28336     Shamrock     Shamrock       OK    Oklahoma        40037
28337       Monowi       Monowi       NE    Nebraska        31015

       county_name      lat       lng  population  density   source  military
0         New York  40.6943  -73.9249    18713220    10715  polygon     False  \
1      Los Angeles  34.1139 -118.4068    12750807     3276  polygon     False
2             Cook  41.8373  -87.6862     8604203     4574  polygon     False
3       Miami-Dade  25.7839  -80.2102     6445545     5019  polygon     False
4           Dallas  32.7936  -96.7662     5743938     1526  polygon     False
...            ...      ...       ...         ...      ...      ...       ...
28333         Boyd  42.9461  -98.5697           2        6  polygon     False
28334        Tulsa  36.1334  -96.2091           2       39  polygon     False
28335     Mahnomen  47.3198  -95.6952           2        2  polygon     False
28336        Creek  35.9113  -96.5772           2        2  polygon     False
28337         Boyd  42.8307  -98.3296           1        1  polygon     False

       incorporated             timezone  ranking
0              True     America/New_York        1  \
1              True  America/Los_Angeles        1
2              True      America/Chicago        1
3              True     America/New_York        1
4              True      America/Chicago        1
...             ...                  ...      ...
28333          True      America/Chicago        3
28334          True      America/Chicago        3
28335          True      America/Chicago        3
28336          True      America/Chicago        3
28337          True      America/Chicago        3

                                                    zips          id
0      11229 11226 11225 11224 11222 11221 11220 1138...  1840034016
1      90291 90293 90292 91316 91311 90037 90031 9000...  1840020491
2      60018 60649 60641 60640 60643 60642 60645 6064...  1840000494
3      33129 33125 33126 33127 33128 33149 33144 3314...  1840015149
4      75287 75098 75233 75254 75251 75252 75253 7503...  1840019440
...                                                  ...         ...
28333                                              68719  1840011032
28334                                              74063  1840021674
28335                                              56557  1840039629
28336                                              74068  1840022701
28337                                              68746  1840011034

[28338 rows x 17 columns]
<class 'pandas.core.frame.DataFrame'>

In [47]:
biggest_cities = cities.sort_values(by=['population'], ascending=False).head(75)
print("Twenty biggest cities:")
print(biggest_cities)
cities = biggest_cities

Twenty biggest cities:
                city        city_ascii state_id      state_name  county_fips
0           New York          New York       NY        New York        36061  \
1        Los Angeles       Los Angeles       CA      California         6037
2            Chicago           Chicago       IL        Illinois        17031
3              Miami             Miami       FL         Florida        12086
4             Dallas            Dallas       TX           Texas        48113
..               ...               ...      ...             ...          ...
70  Colorado Springs  Colorado Springs       CO        Colorado         8041
71        Charleston        Charleston       SC  South Carolina        45019
72       Springfield       Springfield       MA   Massachusetts        25013
73      Grand Rapids      Grand Rapids       MI        Michigan        26081
74     Mission Viejo     Mission Viejo       CA      California         6059

    county_name      lat       lng  population  density   source  military
0      New York  40.6943  -73.9249    18713220    10715  polygon     False  \
1   Los Angeles  34.1139 -118.4068    12750807     3276  polygon     False
2          Cook  41.8373  -87.6862     8604203     4574  polygon     False
3    Miami-Dade  25.7839  -80.2102     6445545     5019  polygon     False
4        Dallas  32.7936  -96.7662     5743938     1526  polygon     False
..          ...      ...       ...         ...      ...      ...       ...
70      El Paso  38.8674 -104.7606      642413      946  polygon     False
71   Charleston  32.8153  -79.9628      628377      480  polygon     False
72      Hampden  42.1155  -72.5395      623401     1860  polygon     False
73         Kent  42.9620  -85.6562      609314     1734  polygon     False
74       Orange  33.6095 -117.6550      590249     2058  polygon     False

    incorporated             timezone  ranking
0           True     America/New_York        1  \
1           True  America/Los_Angeles        1
2           True      America/Chicago        1
3           True     America/New_York        1
4           True      America/Chicago        1
..           ...                  ...      ...
70          True       America/Denver        2
71          True     America/New_York        2
72          True     America/New_York        2
73          True      America/Detroit        2
74          True  America/Los_Angeles        2

                                                 zips          id
0   11229 11226 11225 11224 11222 11221 11220 1138...  1840034016
1   90291 90293 90292 91316 91311 90037 90031 9000...  1840020491
2   60018 60649 60641 60640 60643 60642 60645 6064...  1840000494
3   33129 33125 33126 33127 33128 33149 33144 3314...  1840015149
4   75287 75098 75233 75254 75251 75252 75253 7503...  1840019440
..                                                ...         ...
70  80951 80909 80904 80905 80906 80907 80903 8093...  1840018825
71  29414 29424 29455 29407 29401 29403 29409 2949...  1840015163
72  01151 01118 01119 01199 01129 01128 01107 0110...  1840000466
73  49546 49507 49506 49505 49504 49503 49508 4950...  1840002928
74                                  92692 92691 92690  1840020580

[75 rows x 17 columns]

# Loading and displaying Pollution data

In [48]:
import requests
import json

In [49]:
def get_air_pollution_history(lat, lon, start, end, api_key):
    api_url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}"
    response = requests.get(api_url)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print("Error:", response.status_code)
        return None

Get air pollution history for a single city.

In [50]:
start_time = 1652299344 # May 11, 2022 8:02:24 PM
end_time = 1683835344 # May 11, 2023 8:02:24 PM
api_key = config.api_key


new_york = cities[cities['city'] == 'New York']

print(new_york)

new_york_data = get_air_pollution_history(new_york.lat.values[0], new_york.lng.values[0], start_time, end_time, api_key)

       city city_ascii state_id state_name  county_fips county_name      lat
0  New York   New York       NY   New York        36061    New York  40.6943  \

       lng  population  density   source  military  incorporated
0 -73.9249    18713220    10715  polygon     False          True  \

           timezone  ranking
0  America/New_York        1  \

                                                zips          id
0  11229 11226 11225 11224 11222 11221 11220 1138...  1840034016

In [51]:
print(new_york_data)

{'coord': {'lon': -73.9249, 'lat': 40.6943}, 'list': [{'main': {'aqi': 1}, 'components': {'co': 427.25, 'no': 19.67, 'no2': 32.9, 'o3': 40.77, 'so2': 10.73, 'pm2_5': 5.56, 'pm10': 9.55, 'nh3': 3.17}, 'dt': 1684159131}]}

In [52]:
def merge_json(data):
    result = list()
    result.extend(json.load(data))

In [53]:
print(cities.shape)

(75, 17)

In [54]:
pollution_list = []
for index, row in cities.iterrows():
    # print(row.lat)
    data = get_air_pollution_history(row.lat, row.lng, start_time, end_time, api_key)
    # print(data)
    pollution_list.append(data)

In [55]:
# print(pollution_list)
# print()

In [56]:
file_path = '../data/pollution/pollution_data_simple.json'
with open(file_path, "w") as json_file:
    json.dump(pollution_list, json_file)